<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm a aspiring full stack app developer and a jack-of-all-trades of all things digital. Living in the  north of The Netherlands.</p>
        <p>For a living i'm working on the technical department of Arriva Netherlands at the back-office. For fun i'm studying app development to someday develop meaningful applications professionally.</p>
        <p>You can find me on <a href="#">Twittter</a> sharing stuff i find interesting</p>
    </div>
    <div class="col-2 homepage_content">
        <h2>Stuff i've written</h2>
        <hr>

        <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
    </div>
    <div class="col-3 homepage_content">
        <h2>Stuff i've built</h2>
        <hr>
        <h3><a href="#">Project numero uno</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">App number two</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">Website nummer drie</a></h3>
        <p class="date">Friday April 10th</p>
    </div>
</div>
